@reference "@/base.css";

.weather-search {
  @apply font-DM;

  .weather-search__title {
    @apply my-[3rem]
    lg:my-[4rem];
  }
  .weather-search__form {
    @apply font-medium text-20 leading-120 text-white 
    flex flex-col gap-y-12
    md:flex-row md:gap-x-16
    lg:max-w-[41rem] lg:w-full lg:mx-auto;
  }
  .weather-search__field {
    @apply relative flex items-center gap-x-16
    px-24 py-16 bg-neutral-800 rounded-12
    w-full;
  }
  .weather-search__input {
    @apply text-20 w-full focus:outline-none placeholder:text-neutral-200;
  }
  .weather-search__loading {
    @apply absolute left-0 bottom-0 translate-y-[calc(100%+.625rem)]
    flex items-center gap-x-10
    w-full h-[3.4375rem] px-16 bg-neutral-800 rounded-12;
  }
  .weather-search__submit {
    @apply px-24 py-16;
  }

  /* Focus state */
  .weather-search__field:has(input:focus-visible) {
    @apply outline-2 outline-neutral-200 outline-offset-2;
  }
}
